/* Variables SASS ------------------------------------------ */

$color1: #d03b40;
$color2: bisque;
$color3: antiquewhite;

/* Reseteo CSS ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_header";
@import "_home";
@import "_cafes";
@import "_pasteleria";
@import "licuados";
@import "_contacto";
@import "_footer";
@import "_media-querys";



























